.shortener-container .shortener-form {
  padding: 3.5rem;
  background-color: var(--primary-dark-violet);
  background-image: url("../../../assets/images/bg-shorten-desktop.svg");
  background-size: cover;
  border-radius: 5px;
}

.shortener-form-input-container {
  display: flex;
}

.shortener-form-input-container input {
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  border-style: none;
}

.shortener-form-input-container input::placeholder {
  color: var(--neutral-gray);
  opacity: 60%;
  padding-left: 20px;
  font-size: 18px;
}

.shortener-form-input-container input.alert {
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  border: 2px solid var(--secondary-red);
}

.shortener-form-input-container input.alert::placeholder {
  color: var(--secondary-red);
  opacity: 60%;
  padding-left: 20px;
  font-size: 18px;
}

.shortener-form-input-container button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border-style: none;
  white-space: nowrap;
  background-color: var(--primary-cyan);
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.shortener-form div.alert {
  margin-top: 10px;
  font-style: oblique;
  color: var(--secondary-red);
  opacity: 80%;
  font-size: 16px;
  font-weight: 700;
}
